@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700');

body {
  background-color: #000;
  font-family: 'Montserrat', sans-serif;
  color: #fff;

  max-width: 1330px;
  padding: 0 15px;
  margin: 0 auto;
}
