.gif {
  img {
    min-height: 600px;
    max-width: 100%;
  }
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.right {
  text-align: center;

  padding-top: 0px;
  margin-bottom: 100px;
  padding-bottom:100px;
}

.padding {
  padding-top: 30px;
  margin-top: 30px;
}

.title {
  font-size: calc(1.375rem + 1.5vw);
  font-weight: 700;

  margin-bottom: 15px;
}

.subtitle {
  font-size: 1.25rem;
  margin-bottom: 50px;
}

.price {
  font-size: calc(1.275rem + 0.3vw);
  margin-bottom: 15px;
  span {
    font-weight: 700;
  }
}

input {
  background: #0000;
  border: 0.5px solid #fff;
  text-align: center;
  border-radius: 5rem;
  width: 20%;
  font-size: 40px;
  color: #fff;

  margin-right: 15px;
}

.mint {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 100px;
  margin-bottom: 25px;
}

.button {
  border-radius: 5em;
  text-decoration: none;
  color: #fff;
  background: linear-gradient(90deg, #9c27b0, #e040fb);
  border: 0 solid #4743c5;
  background: linear-gradient(126deg, #915ede 22%, #e2028f 67%, #e29502 98%);
  font-size: 25px;
  letter-spacing: 2.4px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 700;
  margin-left: 20px;
  padding: 10px;
  height: 100%;
  width: 30%;
  box-shadow: 0 0 20px 1px #0000000a;

  text-transform: uppercase;
  cursor: pointer;
}

.info {
  color: grey;
  font-weight: 700;

  word-break: break-all;
}

@media (max-width: 1000px) {
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .right {
    margin-top: -150px;
  }
}

@media (max-width: 500px) {
  .gif {
    img {
      min-height: 0;
    }
  }
}
