.block {
  background-color: #d8cbcb;
  width: 400px;
  height: 200px;
  // margin: 7em auto;
  border-radius: 1.5em;
  box-shadow: 0 11px 35px 2px #00000024;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;

  input {
    width: 76%;
    color: #263238;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: #887e7e0a;
    padding: 10px 20px;
    border: 2px solid #0000002e !important;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid #00000005;
    margin-bottom: 40px !important;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;

    margin-top: 40px;
  }

  button {
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    transition: all 0.2s ease, visibility 0s;
    border: 0 solid #4743c5;
    background: linear-gradient(126deg, #915ede 22%, #e2028f 67%, #e29502 98%);
    padding: 10px 40px;
    // margin-left: 35%;
    margin-top: 20px;
    font-size: 16px;
    letter-spacing: 2.4px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 800;
    box-shadow: 0 0 20px 1px #0000000a;
    cursor: pointer;
  }
}

.pass {
  display: flex;
  justify-content: center;
}
